﻿@model ExampleKitchen.Models.FileModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Styles/bootstrap.css" rel="stylesheet" />
    <title>LoadFile</title>
</head>
<body>
    <div> 
@using (Html.BeginForm("LoadFile", "File", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="row-fluid">
        <div class="span4 offset4">
            <form class="form-horizontal">
                <legend>Выберите файл для загрузки</legend>
                <div class="control-group">
                    <div class="controls">
                        <label class="control-label">Дата обеда,как то так..</label>
                        @Html.EditorFor(m => m.Date)
                    </div>
                </div>

                <div class="control-group">
                    <div class="controls">
                        @Html.TextBoxFor(x => x.FileBase, null, new { type = "file" })
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <button type="submit" class="btn btn-success">Загрузить</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
}
    </div>
</body>
</html>
