﻿@model IEnumerable<ExampleKitchen.Models.OrderModel>

@{
    ViewBag.Title = "Cabinet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Cabinet</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DateOrder)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PriceOrder)
        </th>
        <th></th>
    </tr>
  
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOrder)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PriceOrder)
                </td>
                <td>
                    @{
                        var context = new ExampleKitchen.DomainModel.ClientContext();
                        var s = context.Menu.Where(x => x.MenuId == item.MenuId).FirstOrDefault();
                        if (s.IsAvailable)
                        {
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id });
                        }
                    }

                    @Html.ActionLink("Details", "Details", new { id = item.Id }, null) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }, null)
                </td>
            </tr>
                            }
                        }
                        else
                        {
                            <h1>Вы не делали ни одного заказа*</h1>
                        }


</table>
