﻿@model ExampleKitchen.Models.ClientModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Styles/bootstrap.css" rel="stylesheet" />
    <title>LogIn</title>
</head>
<body>
    <div>
        @Html.BeginForm()
        {
        <div class="row-fluid">
            <div class="span4 offset4">
                <form class="form-horizontal">
                    <div class="control-group">
                        <label class="control-label">
                            @Html.LabelFor(x => x.UserName)
                        </label>
                        <div class="controls">
                            @Html.TextBoxFor(x => x.UserName)
                            @Html.ValidationMessageFor(x => x.UserName)
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">
                            @Html.LabelFor(x => x.Email)
                        </label>
                        <div class="controls">
                            @Html.TextBoxFor(x => x.Email)
                            @Html.ValidationMessageFor(x => x.Email)
                        </div>
                    </div>
                    <input class="btn btn-success" type="submit" value="Принять" />
                </form>
                </div>
            </div>
                }
            </div>
</body>
</html>
