﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Styles/bootstrap.css" rel="stylesheet" />
    <title>_Layout</title>
</head>
<body style="padding-top:40px; padding-bottom:40px;">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="nav-collapse collapse">
                <div class="container">
                    <a href="~/Home/Index" class="brand">Меню</a>
                    <ul class="nav">
                        @if (User.Identity.Name != @""){
                            <li class="active"><a href="~/Home/LoadFile">Загрузить</a></li>
                        }

                        <li class="active"><a href="~/Client/Save">Список заказов</a></li>
                        <li class="active"><a href="~/Client/Cabinet">Мои заказы</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    @RenderBody()
    <div class="navbar navbar-inverse navbar-fixed-bottom">
        <div class="navbar-inner">
            <div class="nav-collapse collapse">
                <div class="container">
                    <p>(c) Designed by PashaGoroshko 2017</p>             
                </div>
            </div>
        </div>
    </div>
</body>
</html>
