﻿@model ExampleKitchen.Models.MenuModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Styles/bootstrap.css" rel="stylesheet"/>
    <title>Index</title>
</head>
<body>
    <div class="">
       
       
        @if (Model != null)
        {
        <h6>@Model.Info</h6>
            var nowDate = DateTime.Now.Date;
            if (Model.DateMenu< nowDate)
            {
                <h6 style="color:red">Данные были загружены: @Model.DateMenu.ToShortDateString()</h6>
            }
            else
            {
                <h6 style="color:green">Данные были загружены: @Model.DateMenu.ToShortDateString()</h6>
            }
            using (Html.BeginForm())
            {
                @Html.HiddenFor(x => x.MenuId)
            <div class="row-fluid">
                <div class="span6 offset3">
                    <table class="table table-condensed">
                        @for (int j = 0; j < Model._Food.Count; j++)
                        {
                            <tr>
                                <td><h3>@ExampleKitchen.Helpers.EnumExtensions.GetDisplayName(Model._Food[j].Type)</h3></td>
                                <td>Цена,BYN</td>
                                <td>Выход, гр.</td>
                            </tr>

                            for (int i = 0; i < Model._Food[j].Dishes.Count; i++)
                            {
                                @Html.HiddenFor(x => x._Food[j].Dishes[i].ID)
                                <tr>
                                    <td>@Html.Label(Model._Food[j].Dishes[i].Name)</td>
                                    <td>@Html.Label(Model._Food[j].Dishes[i].Price.ToString())</td>
                                    <td>@Html.Label(Model._Food[j].Dishes[i].Weight.ToString())</td>
                                    <td>@Html.CheckBoxFor(x => x._Food[j].Dishes[i].IsOrder)</td>
                                </tr>
                            }
                        }
                    </table>
                </div>
            </div>

            <div class="row-fluid">
                <div class="span12 offset8">
                    <input class="btn btn-success" type="submit" value="Продолжить!" />
                </div>
            </div>
            }
        }
        else
        {
            <h1>В настоящий момент доступные меню отсутствуют!</h1>
        }
    </div>
</body>
</html>
